<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleApplication2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <ConsoleApplication2.Properties.Settings>
            <setting name="DefaultCostUnit" serializeAs="String">
                <value>253500001</value>
            </setting>
            <setting name="DefaultCostCenter" serializeAs="String">
                <value>253511</value>
            </setting>
            <setting name="DefaultWorkType" serializeAs="String">
                <value>102</value>
            </setting>
            <setting name="DefaultUser" serializeAs="String">
                <value>gfk\bai.gosho</value>
            </setting>
        </ConsoleApplication2.Properties.Settings>
    </userSettings>
</configuration>
